{% extends 'bookms/base.html' %}
{% block title %}Return Book Details{% endblock %}

{% block content %}
<div class="container">
    <h2>Return Book Details</h2>

    <div class="card">
        <div class="card-body">
            <p><strong>Book Name:</strong> {{ borrow_entry.book.name }}</p>
            <p><strong>Author:</strong> {{ borrow_entry.book.author }}</p>
            <p><strong>Borrowed By:</strong> {{ borrow_entry.borrowed_by.username }}</p>
            <p><strong>Borrowed Date:</strong> {{ borrow_entry.borrowed_at|date:"Y-m-d" }}</p>
            <p><strong>Return Date:</strong> {{ borrow_entry.returned_at|date:"Y-m-d" }}</p>

        </div>
    </div>

    
{% endblock %}
